form{
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 25vh;
    left: 25vw;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    padding: 3vh;
    background-color: rgb(22, 21, 21);
}
form label{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
form p{
    padding: 4vh;
    font-size: 2vh;
}
form input{
    height: 3.5vh;
    background-color: rgb(88, 92, 95);
    border: none;
    border-radius: 5px;
}
.form-submit-button{
    padding: 4vh;
}
form button{
    width: 20vh;
    height: 4vh;
    background-color: rgb(105, 160, 218);
    border: none;
    border-radius: 5px;
}