.homepageMainContainer{
    width: 83vw;
}
.topSectionMainContainer{
    height: 7vh;
}
.topSectionListItemMainContainer{
    height: 100%;
}
.topSectionListItemMainContainer ul{
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.topSectionListItemMainContainer ul li{
    margin-left: 2%;
    padding: .5% 1%;
    background-color: rgb(60, 59, 59);
    border-radius: 10%;
    width: auto;
}
.title-recommendedsongs{
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;
}
.musicsection-maincontainer{
    display: flex;
    gap: 3%;
    overflow-x: scroll;
}
.musiclist{
    color: white;
    width: 100%;
    position: relative;
}
.musicplayer-link{
    color: white;
    text-decoration: none;
}
.song-title:hover{
    text-decoration: underline;
}
.song-thumbnail{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
}
.thumbsupicon{
    position: absolute;
    top: 0;
    right: 0;
}
