.SubscriptionMainContainer{
    width: 100vw;
    height: 90vh;
    color: white;
}
.SubscriptionPageUpperContainer{
    height: 70%;
    text-align: center;
    padding: 8vh;
    background-color: rgb(37, 37, 37);
}
.SubscriptionPageUpperContainer h1{
    padding: 4vh;
}
.SubscriptionPageUpperContainer button{
    background-color: rgba(13, 161, 241, 0.83);
    color: white;
    border: none;
    width: 17vh;
    height: 4.5vh;
    border-radius: 20px;
}
.SubscriptionPageUpperContainer p{
    padding: 3vh;
    font-size: larger;
}
.SubscriptionPageLowerContainer{
    height: 30%;
    display: flex;
    justify-content: space-around;
}
.listenbackground{
    padding-top: 2vh;
    width: 20vw;
    text-align: center;
}
.listenbackground-firstpara{
    font-size: 4vh;
}
.listenbackground-secondpara{
    font-size: 2vh;
    padding-top: 1.5vh;
}
.adfreemusic{
    padding-top: 2vh;
    width: 20vw;
    text-align: center;
}
.adfree-firstpara{
    font-size: 4vh;
}
.adfree-secondpara{
    font-size: 2vh;
    padding-top: 1.5vh;
}
.downloadandgo{
    padding-top: 2vh;
    width: 20vw;
    text-align: center;
}
.download-firstpara{
    font-size: 4vh;
}
.download-secondpara{
    font-size: 2vh;
    padding-top: 1.5vh;
}