.librarypage-maincontainer{
    height: 85vh;
    margin: 3vw;
}
.library-topsection{
    color: white;
    height: 7vh;
}
.library-topsection ul{
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.library-topsection ul li{
    margin-left: 2%;
    padding: .7% 2%;
    background-color: rgb(60, 59, 59);
    border-radius: 8%;
    width: auto;
}
.library-bottomsection{
    height: 73vh;
    padding: 2%;
}
.librarypage-likeimage{
    height: 120px;
    border-radius: 5px;
}
.linktolikes{
    text-decoration: none;
    color: white;
}
.linktolikes:hover{
    text-decoration: underline;
}
.autoplaylist{
    color: white;
    font-size: 70%;
}
.librarypage-likeimgdescription{
    color: white;
    text-decoration: none;
    width: 12%;
    padding-top: .5%;
}
.autoplaylist-div{
    display: flex;
    width: 12%;
}
.pushpin-icon{
    color: white;
}