.musicplayerdiv{
    display: flex;
    color: white;
}
.musicplayerMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
    width: 80vw;
    align-items: center;
}
.musicplayer{
    height: 90%;
    width: 50%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.musicDetails{
    height: 85%;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.musicDetails h1{
    font-size: 5vh;
}
.artistdetails{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.artistdetails p:nth-child(1){
    font-size: 3vh;
}
.musicplayer-imgthumbnail{
    height: 100%;
    width: 100%;
}
.musicplay-icon{
    position: absolute;
    top: 100;
    right: 100;
}
.musicplay-icon:hover{
    transition: 0.3s;
    transform: scale(1.1);
}