.likedmusicSection-container{
    display: flex;
    /* flex-direction: row; */
    /* gap: 20px; */
    gap: 3%;
    /* padding: 40px ; */
    padding: 4vw;
    overflow-x: scroll;
}
.likedmusic-logo{
    /* padding: 40px; */
    padding: 4vw;
    display: flex;
    /* gap: 40px; */
}
.likedmusic-image{
    /* width: 250px; */
    /* height: 250px; */
    height: 15vw;
    border-radius: 5px;
    /* padding: 40px; */
}
.likedmusic-details{
    color: white;
}
.likedmusic-detail-heading{
    /* padding: 20px 20px 10px 20px; */
    padding: 2vw 2vw 2vw 1vw;
}
.likedmusic-detaild-para{
    /* padding: 20px; */
    padding: 1vw;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    gap: .5vw;
}
.likedmusic-message{
    /* padding: 20px; */
    padding: 1vw;
}
.likedmusicpage-song-thumbnail{
    /* height: 150px; */
    /* width: 150px; */
    height: 10vw;
    width: 10vw;
    border-radius: 5px;
}
.musiclist-likedmusicpage{
    position: relative;
    color: white;
    /* width: 151px; */
    width: 100%;
    /* border: 2px solid red; */
}
.thumbsupicon-likedmusicpage{
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
}