.likedmusicSection-container{
    display: flex;
    gap: 3%;
    padding: 4vw;
    overflow-x: scroll;
}
.likedmusic-logo{
    padding: 4vw;
    display: flex;
}
.likedmusic-image{
    height: 15vw;
    border-radius: 5px;
}
.likedmusic-details{
    color: white;
}
.likedmusic-detail-heading{
    padding: 2vw 2vw 2vw 1vw;
}
.likedmusic-detaild-para{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.likedmusic-message{
    padding: 1vw;
}
.likedmusicpage-song-thumbnail{
    height: 10vw;
    width: 10vw;
    border-radius: 5px;
}
.musiclist-likedmusicpage{
    position: relative;
    color: white;
    width: 100%;
}
.thumbsupicon-likedmusicpage{
    color: blue;
    position: absolute;
    top: 0;
    right: 0;
}